<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>for in component</title>
	<link rel="stylesheet" href="Css/css.css">
</head>
<body>
	<div id="demo">
	<p :class="title"></p>
	<div :class=code>
		<div id="todo-list-example">
		  <form v-on:submit.prevent="addNewTodo">
		    <label for="new-todo">添加标签：</label>
		    <input type="text"
		      v-model="newTodoText"
		      id="new-todo"
		      placeholder="输入关键字"
		    >
		    <button :class="btn">添加</button>
		  </form>
		  <ul>
		    <li
		      is="todo-item"
		      v-for="(todo, index) in todos"
		      v-bind:key="todo.id"
		      v-bind:title="todo.title"
		      v-on:remove="todos.splice(index, 1)"
		    ></li>
		  </ul>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
<script type="text/javascript">
	Vue.component('todo-item', {
	  template: `
	    <li>
	      {{ title }}
	      <button :class="['btn']" v-on:click="$emit('remove')">删除</button>
	    </li>
	  `,
	  props: ['title']
	});

	new Vue({
	  el: '#todo-list-example',
	  data: {
	  	title:"demo-title",
		code:"demo-code",
		btn:"btn",
	    newTodoText: '',
	    todos: [
	      {
	        id: 1,
	        title: '积极创新',
	      },
	      {
	        id: 2,
	        title: '勤劳勇敢',
	      },
	      {
	        id: 3,
	        title: '诚实守信'
	      }
	    ],
	    nextTodoId: 4
	  },
	  methods: {
	    addNewTodo: function () {
	      this.todos.push({
	        id: this.nextTodoId++,
	        title: this.newTodoText
	      });
	      this.newTodoText = '';
	    }
	  }
	});
</script>
</html>