<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>formSearch</title>
	<link rel="stylesheet" href="Css/css.css">
</head>
<body>
	<div id="app">
		<div id="searchBar">
		检索：<input v-model="searchQuery" type="text">
		</div>
		<simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery" ></simple-grid>
	</div>
	<template id="grid-template">
		<table class="table table-normal">
	    <thead>
	      <tr>
	        <th v-for="key in columns"
	          @click="sortBy(key)"
	          :class="{ active: sortKey == key }">
	          {{ key | capitalize }}
	          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
	          </span>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="entry in filteredData">
	        <td v-for="key in columns">
	          {{entry[key]}}
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</template>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
<script>
window.onload=function(){  
// register the grid component
Vue.component('simple-grid', {
	  template: '#grid-template',
	  props: {
	    data: Array,
	    columns: Array,
	    filterKey: String
	  },
	  data: function () {
	    var sortOrders = {};
	    this.columns.forEach(function (key) {
	      sortOrders[key] = 1;
	    });
	    return {
	      sortKey: '',
	      sortOrders: sortOrders
	    };
	  },
	  computed: {
	    filteredData: function () {
	      var sortKey = this.sortKey;
	      var filterKey = this.filterKey && this.filterKey.toLowerCase();
	      var order = this.sortOrders[sortKey] || 1;
	      var data = this.data;
	      if (filterKey) {
	        data = data.filter(function (row) {
	          return Object.keys(row).some(function (key) {
	            return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
	          });
	        });
	      }
	      if (sortKey) {
	        data = data.slice().sort(function (a, b) {
	          a = a[sortKey];
	          b = b[sortKey];
	          return (a === b ? 0 : a > b ? 1 : -1) * order;
	        });
	      }
	      return data;
	    }
	  },
	  filters: {
	    capitalize: function (str) {
	      return str.charAt(0).toUpperCase() + str.slice(1);//首字母大写
	    }
	  },
	  methods: {
	    sortBy: function (key) {
	      this.sortKey = key;
	      this.sortOrders[key] = this.sortOrders[key] * -1;
	    }
	  }
});

// bootstrap the demo
var demo = new Vue({
    el: '#app',
    data: {
        searchQuery: '',
        gridColumns: ['name', 'power'],
    	gridData: [
           { name: 'Chuck Norris', power: 5000 },
           { name: 'Bruce Lee', power: 9000 },
           { name: 'Jackie Chan', power: 7000 },
           { name: 'Jet Li', power: 8000 }
        ]
    }
});

};

</script>
</html>