<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo-addanddel</title>
	<link rel="stylesheet" href="Css/css.css">

</head>
<body>
	<div id="app">
		<div class="add_wrapper">
			<div class="add_head">添加用户</div>
			<div class="add_body">
				<div class="add_f_group">
					<span class="pull-left">用户基本信息</span>
					<div class="add_f_line"></div>
				</div>
				<div class="add_form">
					<div class="add_form_group">
						<label for="">
							<i class="add_form_icon">*</i>
							<span>姓名:</span>
						</label>
						<div class="add-form-control">
							<input v-model="newPerson.name" type="text" class="add_form_input">
						</div>
					</div>
					<div class="add_form_group">
						<label for="">
							<i class="add_form_icon">*</i>
							<span>年龄:</span>
						</label>
						<div class="add-form-control">
							<input v-model="newPerson.age" type="text" class="add_form_input">
						</div>
					</div>
					<div class="add_form_group">
						<label for="">
							<i class="add_form_icon">*</i>
							<span>性别:</span>
						</label>
						<div class="add-form-control">
							<!-- <input v-model="newPerson.sex" type="text" class="add_form_input"> -->
							<select v-model="newPerson.sex" name="select-person" id="">
								<option value="男">男</option>
								<option value="女">女</option>
							</select>
						</div>
					</div>

				</div>
			</div>
			<div class="add_foot">
				<div class="txt_center">
					<input @click="createPerson" class="add_btn btn btn-primary" type="button" value="保存">
					<input @click="cancel" class="btn" type="button" value="取消">

				</div>
			</div>
			
		</div>
		<div class="add_wrapper">
			<table class="table table-normal">
				<thead><tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>性别</th>
					<th>操作</th>
				</tr></thead>
				<tbody>
					<tr v-for="(person,index) in people">
						<td>{{person.name}}</td>
						<td>{{person.age}}</td>
						<td>{{person.sex}}</td>
						<td >
							<button :class="'btn btn-small'" @click="del(index)">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
<script>
	var vm=new Vue({
		el:'#app',
		data:{
			newPerson:{
				name:'',
				age:0,
				sex:'男'
			},
			people:[{
				name:'晓晓',
				age:19,
				sex:'女'
			},{
				name:'俊熙',
				age:22,
				sex:'男'
			},{
				name:'哈哈',
				age:22,
				sex:'女'
			}]
		},
		methods:{
			createPerson:function(){
				if(this.newPerson.name!=""&&this.newPerson.age>0){
					this.people.push(this.newPerson);//可向数组的末尾添加一个或多个元素，并返回新的长度
				}
				else{
					alert("请输入正确的用户信息");
				}
				this.newPerson={name:'',age:0,sex:'男'};//重置newPerson对象
			},
			cancel:function(){
				this.newPerson={name:'',age:0,sex:'男'};
			},
			del:function(index){
				this.people.splice(index,1);//起始位置 删除个数
			}
		}
	});
</script>
</html>