<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Demo</title>
	<link rel="stylesheet" href="Css/css.css">
</head>
<body>
	<div id="demo">
		<div class="demo-head-container">
			<h3 class="demo-head" style="">Demo</h3>
			<p class="demo-subhead">记录每天练习</p>
		</div>
		<!-- 1. 绑定文本 -->
		<p :class="title">1. 绑定文本 文本title属性  是否可见</p>
		<p :class="code" v-bind:title="message" v-if="see">{{ message }}</p>
		<!-- 2. for循环绑定项 -->
		<p :class="title">2. for循环绑定项</p>
		<ul :class="code">
		<li v-for="(animal,index) in animals"> {{index}}-{{animal.text}} </li>
		</ul>
		<!-- 3.事件  -->
		<p :class="title">3. 事件 反序字符串</p>
		<div :class="code">
			<p>{{ message1 }}</p>
			<button :class="btn" v-on:click="reverseMsg">
			click me
			</button>
		</div>
		<!-- 4.文本输入框控件 属性设置 -->
		<p :class="title">4. 文本输入框控件 属性设置</p>
		<div :class="code">
		  <input type="text" v-bind:disabled="isdisabled" v-model="message">
		</div>
		<!-- 5.插入html -->
		<p :class="title">5. 动态嵌入HTML</p>
		<div :class="code">
			<p>{{ rawHtml }}</p>
			<p v-html="rawHtml"></p>
		</div>
		<!-- 6.表达式 -->
		<p :class="title">6. 表达式</p>
		<div :class="code">
			<p>{{count+1}}</p>
			<p>{{ ok?'yes':'no'}}</p>
			<p>{{message.split('').reverse().join('')}}</p>
		</div>
		<!-- 7.参数 href 与url值绑定-->
		<p :class="title">7. 参数 href 与url值绑定</p>
		<a :class="code" v-bind:href="url" target="_blank">百度链接</a>
		<!-- 8.修饰符 -->
		<p :class="title">8. 修饰符</p>
		<form :class="code" v-on:submit.prevent="onSubmit"></form>
		<!-- 9.对象语法 -->
		<p :class="title">9. 对象语法</p>
		<div :class="code">
			<div class="static" v-bind:class="{ active:isActive,'text-danger':hasError}">我的样式</div>
			<div :class="classObject">方法变了效果一样</div>
			<div :class="addClass">我是计算属性效果还是一样哦</div>
		</div>
		<!-- 10.模板选择 -->
		<p :class="title">10. 模板选择</p>
		<div :class="code">
			<template  v-if='loginType==="userName"'><label> 用户名:</label><input placeholder='enter your username' key='username-input'></template><template v-else><label >邮  箱:</label><input placeholder='enter your email' key='email-input' ></template>
			<button :class="btn" v-on:click="onChangeLogin">切换登录方式</button>
		</div>
		<!--11.v-for 通过一个对象的属性来迭代 -->
		<p :class="title">11. v-for 通过一个对象的属性来迭代</p>
		<ul :class="code" id="v-for-object" >
			<li v-for="value in object" :key="value.id">{{value}}</li>
		</ul>
		<p :class="title">11.1 v-for 提供第二个的参数为键名</p>
		<ul :class="code" id="v-for-object" >
			<li v-for="(value,key) in object">{{key}}：{{value}}</li>
		</ul>
		<p :class="title">11.1 v-for 提供第三个参数为索引</p>
		<ul :class="code" id="v-for-object"  >
			<li v-for="(value,key,index) in object" :key="value.id">序号：{{index}} 数据： {{key}}：{{value}}</li>
		</ul>
		<p :class="title">12. 添加新属性</p>
		<ul :class="code" id="">
			<li v-for="value in userProfile">{{value}}</li>
		</ul>
		<p :class="title">13. 显示过滤/排序结果 数组[1,2,3,4,5]能被2整除的数据</p>
		<ul :class="code">
			<li v-for="i in eventNumbers">{{i}}</li>
		</ul>
		<p :class="title">13.1 计算属性不适用的情况下 method方法</p>
		<ul :class="code">
			<li v-for="i in eventNumbers">{{i}}</li>
		</ul>
		<p :class="title">14.一段取值范围的 v-for</p>
		<div :class="code" ><span v-for="i in 10">{{i}}&nbsp;</span></div>
		<p :class="title">14.1 v-for on a template</p>
		<ul :class="code">
			<template v-for="item in items">
				<li>{{item.msg}}</li>
			</template>
		</ul>
		<p :class="title">14.2 v-for with v-if</p>
		<ul :class="code" v-if="items.length">
			<template v-for="item in items" v-if="!item.isComplete">
				<li>{{item.msg}}</li>
			</template>
		</ul>
		<p v-else>no items</p>
		
</div>

</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
<script type="text/javascript">
	var vm=new Vue({
		el: '#demo',
		data: {
			title:"demo-title",
			code:"demo-code",
			btn:"btn",
			count:0,
			message: 'Hello Everyone!',
			message1:'123456',
			see:true,
			animals:[
			    {text:'pig'},
			    {text:'ant'},
			    {text:'monkey'}
			],
			rawHtml:"<span style='color:#F56C6C;'>我是动态加载出来的哦 </span>",
			isdisabled:true,
			ok:true,
			url:"www.baidu.com",
			isActive:true,
			hasError:true,
			classObject:{
				active:true,
				'text-danger':true
			},
			loginType:"userName",
			
			object:{
				name:'sp',
				sex:'女',
				age:'18'
			},
			userProfile:{
				name:'spcat'
			},
			numbers:[1,2,3,4,5],
			items:[
				{id:1,msg:"模板循环1",isComplete:true},
				{id:2,msg:"模板循环2",isComplete:false},
				{id:3,msg:"模板循环3",isComplete:false},
			]

		},
		methods: {
			reverseMsg: function () {
			  this.message1 = this.message1.split('').reverse().join('');
			},
			onSubmit:function(){
				event.preventDefault();
			},
			onChangeLogin:function(){
				if(this.loginType=="userName"){
					this.loginType="Email";			
				}
				else{
					this.loginType="userName";
				}
			},
			even:function(numbers){
				return numbers.filter(function(number){
					return number%2===0;
				});
			}

		},
		computed:{
			reversedMsgs:function(){
				return this.message1.split('').reverse().join('');
			},
			addClass:function(){
				return{
					'active':this.isActive,
					'text-danger':this.hasError
				};
			},
			eventNumbers:function(){
				return this.numbers.filter(function(number){
					return number%2===0;
				});
			}
		}
	});
	Vue.set(vm.userProfile,'age',20);
	
	vm.userProfile=Object.assign({},vm.userProfile,{
		sex:'女',
		birthday:'0411'
	});
	console.log(vm.reversedMsgs);
	vm.message1="I have changed";
	console.log(vm.reversedMsgs);


	
</script>
</html>